page-task-request-err {
    .pallet {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        margin-left: 1em;
        margin-right: 1em;
      }
      .pallet tbody tr {
        height: 100px;
      }
      .pallet thead tr {
        height: 40px; // width: 30px;
        background: rgba(104, 194, 96, 0.411);
      }
      .pallet tbody tr th {
        width: 90px;
        background: rgba(204, 201, 201, 0.411);
      }
}
